body{
   background-color: rgb(3, 144, 168);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpt.wallpapers.com%2Ffundo-de-cor-simples&psig=AOvVaw06E04SOYZmiqsStHZvbjcm&ust=1750427848803000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNCq5v7R_Y0DFQAAAAAdAAAAABAM);
   background-repeat: no-repeat;
   background-size:100%;
}

ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 0;
   margin: 0;
   list-style: none;
}


h2{
   color: rgb(255, 255, 255);
   display: flex;
}

form{
   display:flex;
   flex-direction: column;
   gap: 10px;
}
